<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.mankind.fish-machina" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>fish-machina</name>
  <description>
        An Ionic Framework and Cordova project.
    </description>
  <author email="markallenhall@gmail.com" href="http://mankind.com/">
      Mark Allen Hall
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <allow-navigation href="file://*/*" />
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>