<!DOCTYPE html>
<html ng-app="ionicApp">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title>UNSETTLED WATERS</title>
  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <script src="lib/ionic/js/ionic.bundle.js"></script>
  <link href='https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic' rel='stylesheet' type='text/css'>
  <script src="lib/ionic-material/ionic.material.js"></script>
  <link href="lib/ionic-material/ionic.material.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <script src="js/app.js"></script>
</head>

<body ng-controller="MainCtrl">
  <ion-nav-view>
  </ion-nav-view>
  <script id="templates/event-menu.html" type="text/ng-template">
    <ion-side-menus enable-menu-with-back-views="false">
      <ion-side-menu-content>
        <ion-nav-bar class="bar-positive">
          <ion-nav-back-button>
          </ion-nav-back-button>
          <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
          </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
      </ion-side-menu-content>
      <ion-side-menu side="left">
        <ion-header-bar class="bar-assertive">
          <h1 class="title">MENU</h1>
        </ion-header-bar>
        <ion-content>
          <ul class="list animate-rip">
            <!-- Note each link has the 'menu-close' attribute so the menu auto closes when clicking on one of these links -->
            <a href="#/event/home" class="item" menu-close>UNSETTLED WATERS</a>
            <a href="#/event/aquarium" class="item" menu-close>AQUARIUM</a>
            <a href="#/event/fish" class="item" menu-close>FISH</a>
            <a href="#/event/attendees" class="item" menu-close>SPOILED FISH</a>
          </ul>
        </ion-content>
      </ion-side-menu>
    </ion-side-menus>
  </script>
  <script id="templates/home.html" type="text/ng-template">
    <ion-view view-title="UNSETTLED WATERS" ng-cont>
      <ion-content class="padding">
        <div>
          <b>YOUR GOAL</b> IS <b>ONLY 4 GALLONS</b> IN ONE OF THE BOWLS
          <!-- <b>YOU CAN </b>  -->
          YOU CAN
          <b>FILL</b> THE BOWL UP TO TOP WITH WATER
          <b>TRANSFER</b> FROM ONE BOWL INTO THE OTHER OR
          <b>EMPTY</b> ALL THE WATER
          <b>YOUR GOAL</b> IS <b>ONLY 4 GALLONS</b> IN ONE OF THE BOWLS
        </div>
        <div class="row">
          <div class="col-md-2">
            &nbsp;
          </div>
          <div class="col-md-4" transition>
            <div></div>
            <canvas ro-waterline size="3" qty="3" factor="0.21" id="jug3" ng-click="openModal('jug3')"></canvas>
          </div>
          <div class="col-md-2">
          </div>
          <div class="col-md-4" transition>
            <div></div>
            <canvas ro-waterline size="5" qty="3" factor="0.16" id="jug5" ng-click="openModal('jug5')"></canvas>
          </div>
          </ </ion-content>
    </ion-view>
  </script>
  <script id="templates/fish.html" type="text/ng-template">
    <ion-view view-title="FISH">
      <ion-content>
        <div class="list animate-rip">
          <li class="col-md-6"> one fish <img ng-src="js/fish/one-fish.png" /></li>
          <li class="col-md-6"> two fish <img ng-src="js/fish/two-fish.png" /></li>
        </div>
      </ion-content>
    </ion-view>
  </script>
  <script id="templates/attendees.html" type="text/ng-template">
    <ion-view view-title="SPOILED FISH">
      <ion-content>
        <div class="row">
          <div class="col-md-6">
            <h1>ONE</h1> Fill the 3-liter bottle and pour it into the empty 5-liter bottle.
            <p> Fill the 3-liter bottle again, and pour enough to fill 5-liter bottle.
            <p> This leaves exactly 1 liter in the 3-liter bottle.
            <p> Empty the 5-liter bottle; pour the remaining 1 liter from the 3-liter bottle into the 5-liter bottle.
            <p> Fill the 3-liter bottle and pour it into the 5-liter bottle.
            <p> The 5-liter bottle now has exactly 4 liters.
            <p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h1>TWO</h1> Here is another way to do it: Fill the 5-liter bottle and pour water from it into the 3-liter bottle until it is full.
            <p> This leaves 2 liters in the 5-liter bottle.
            <p> Empty the 3-liter bottle and pour the 2 liters of water from the 5-liter bottle into the 3-liter bottle.
            <p> Fill the 5-liter bottle again.
            <p> Fill the 3-liter bottle from the 5-liter bottle. Since the 3-liter bottle had 2 liters of water, only one liter is transferred leaving exactly 4 liters of water in the 5-liter jug.
            <br>
          </div>
        </div>
      </ion-content>
    </ion-view>
  </script>
  <script id="templates/openModal.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar>
        <h1 class="title">Choose Action</h1>
      </ion-header-bar>
      <ion-content>
        <a class="button" ng-click="transition('fill')">Fill</a>
        <a class="button" ng-click="transition('offer')">Transfer </a>
        <a class="button" ng-click="transition('empty')">Empty</a>
      </ion-content>
    </ion-modal-view>
  </script>
  <script type="text/javascript" src="lib/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="lib/lodash/lodash.js"></script>
  <script type="text/javascript" src="lib/machina/lib/machina.js"></script>
  <script type="text/javascript" src="js/fishbowl/fishbowl.js"></script>
  <script type="text/javascript" src="js/fishbowl/fsm.js"></script>
  <script type="text/javascript" src="js/waterline/waterline.js"></script>
  <script>
  $(document).ready( function(){
      //Get the canvas & context 
      var c = $('canvas');
      var ct = c.get(0).getContext('2d');
      var container = $(c).parent();

      //Run function when browser resizes
      $(window).resize( respondCanvas );

      function respondCanvas(){ 
          c.attr('width', $(container).width() ); //max width
          c.attr('height', $(container).height() ); //max height

          //Call a function to redraw other content (texts, images etc)
      }

      //Initial call 
      respondCanvas();

  }); 
  </script>
</body>

</html>
